{{define "subject"}} Finish Registrtaion with Going-Places {{end}}

{{define "body"}}
    <!DOCTYPE html>
    <html>
        <body>
            Welcome {{ .Username }} to the Social platform, here is the link to activate your account {{ .Link }}
        </body>
    </html>
{{end}}